@charset "utf-8";
/* CSS Document */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 	font-family:"微软雅黑", "宋体", "Myriad Set Pro","Helvetica Neue", Helvetica, Arial, Gotham, sans-serif;
	font-weight: normal;
}
body {
	height: 100%;
	font-size: 14px;
	background-color: #fff;
	color: #333;
	line-height: 1.16;
	text-align: justify;
}
a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer
}
body, input, textarea, select, button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, blockquote, figure, form, fieldset, input, legend, pre, abbr {
	margin: 0;
	padding: 0;
	font-weight: normal
}
fieldset, iframe, img {
	border: 0
}
a,img,nav, header, footer, main, aside, artical, section, figure, summary, details, figcaption {
	display: block
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
audio, canvas, video, progress {
	display: inline-block;
	vertical-align: baseline
}
button {
	font: inherit;
	vertical-align: middle
}
small {
	font-size: 80%;
}
big {
	font-size: 120%;
}
li{
	list-style: none;
}
.for-screen {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.for-screener {
	text-indent: 9999px;
	white-space: nowrap;
	overflow: hidden;
}
.full-screen,
.full-box{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:10;
}
.full-screen{
	position:fixed;
}
